/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  background: #f7f7fa;
  font-family: 'Inter', Arial, sans-serif;
}

.app {
  max-width: 650px;
  margin: 40px auto;
  background: #f7f7fa;
}

.header {
  background: #fa5252;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 24px 20px;
  border-radius: 16px 16px 0 0;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
}

.header-logo {
  font-size: 2em;
}

.card {
  display: flex;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(32,45,69,0.05);
  margin: 32px 0;
  overflow: hidden;
  align-items: flex-start;
}

.card-img {
  width: 170px;
  height: 130px;
  object-fit: cover;
  border-right: 2px solid #f7f7fa;
}

.card-content {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card-country {
  font-size: 0.95em;
  color: #656565;
  margin-bottom: 2px;
}

.country-pin {
  margin-right: 5px;
  color: #fa5252;
  font-weight: bold;
}

.country {
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}

.map-link {
  text-decoration: underline;
  color: #4f94d6;
  font-weight: normal;
  font-size: 0.93em;
}

.card-title {
  font-size: 1.25em;
  font-weight: bold;
  color: #212121;
  margin: 6px 0 2px 0;
}

.card-date {
  font-size: 1em;
  font-weight: bold;
  color: #2d2d2d;
  margin-bottom: 6px;
  display: block;
}

.card-desc {
  font-size: 1em;
  color: #454545;
  margin-top: 4px;
  line-height: 1.5;
}
